* {
    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;

    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




/* --- Elementos Página 1 ---*/
.page_container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;

    text-align: center;

    .header, .import_box {
        /*Obriga os elementos selecionados a dividirem o height igualmente*/
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    header {
        font-size: 30px;
        color:rgb(199, 198, 198);
    }

    footer {
        color: white;
        text-align: center;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(75, 64, 233, 0.432);
    }
}



.import_box {
    text-align: center;
    border: 10px solid rgb(78, 57, 201);
    background-color: #00ccff;;
    border-radius: 5px;
    width: 250px;


    #upload_icon {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    #create-icon {
        width: 75px;
        height: 75px;
        cursor: pointer;
        margin-top: 20px;
    }

}


/* --- Elementos Página 2 ---*/
.page_container2 {
    height: 100vh;
    display: none;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
}

#menu_lateral_container, #quadrante_decks_container {
    overflow-y: auto;
}

/*-------------------*/
#quadrante_titulo_container {
    background-color:rgb(27, 105, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(17, 66, 66);

    h2 {
        font-size: 30px;
        display: inline;
    }

    #logo {
        height: 50px;
        width: 50px;
    }
}

#quadrante_infos_container {
    background-color: rgb(36, 138, 138);
    border-bottom: 5px solid rgb(17, 66, 66);
}

#menu_lateral_container {
    background-color: grey;
}

#quadrante_decks_container {
    background-color: blue;
}






/*Tamanho base para celular 
    width: 360px;
    height: 700px;
*/

/*
body {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: left;
    align-items: start;

    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
